{% extends 'navbar.html' %}
{% block content %}

<h1 class="nav-txt">View Artists and Their Shops</h1>
{% if not shops %}
    <p class='white small-white'>No shops are open right now. <a href="{% url 'client-home' %}">Home</a> </p>
{% endif %}
{% for shop in shops %}
<div class='shop-card'>
    <p class="shop-name">{{shop.title}}</p>
    <p class="artist-name">by {{shop.artist}}</p>
    
    <p class="shop-desc">{{shop.description}}</p>
    <p>Turnover: {{shop.turnover}}</p>
    <p>Base Price: ${{shop.base_price}}</p>
    <a class="card-btm" href="{% url 'client-make-request' shop.id%}">Request From This Shop</a>
</div>
{% endfor %}
{% endblock content %}